DATABASE_URL="postgresql://mab:mab@localhost:5432/mab_crm"
APP_URL="http://localhost:3000"
POSTGRES_USER="mab"
POSTGRES_PASSWORD="mab"
POSTGRES_DB="mab_crm"
AI_RATE_LIMIT_PER_MINUTE="30"
AI_MAX_RETRIES="3"
AI_BACKOFF_MS="1000"
AI_COST_PER_1K_TOKENS="0.002"
PASSCODE="mab"
PASSCODE_HASH=""
AUTH_SECRET="change-me"
